*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-gradient: linear-gradient(45deg, #FF0F7B, #F74C06);
}

html,
body {
    overflow-x: hidden;
    font-family: poppins;
    font-weight: 400;
}

.home-section-container {
    --bg-white-overlay: rgba(0, 0, 0, 0.8);
    background: linear-gradient(var(--bg-white-overlay), var(--bg-white-overlay)), url("/assets/background_1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: .8em 2em;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(30px);

}

.nav-container .nav-left {
    display: flex;
}

.nav-container .nav-left img {
    height: 2.5em;
}

.nav-container .nav-right {
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-container .nav-item {
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: .9em;
}

.home-section-container .home-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    color: white;
}

.home-section-container .home-text-container {
    font-family: Prompt;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.home-section-container .plan-event-btn {
    border: none;
    outline: none;
    background: white;
    padding: .6em 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: .9em;
    border-radius: 100em;
}

.home-section-container .plan-event-btn span {
    display: flex;
    font-weight: 600;
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
}

.commitment-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    padding: 5em 0;
    background: #f4f4f4;
}

.section-title {
    font-family: prompt;
    color: #403F3F;
    font-size: 1.2em;
    font-weight: 600;
}

.commitment-container .commitment {
    width: min(50em, 95%);
    text-align: center;
    color: #505050;
    font-size: 1em;
}

.history-container {
    background: white;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.statistics-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.statistics-container .statistic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.statistic-card .count {
    font-weight: 700;
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
    font-size: 2em;
}

.statistic-card .statistic-title {
    color: #5A5A5A;
    font-weight: 500;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    background: #f4f4f4;
    gap: 2em;
}

.service-element {
    width: 20em;
    background: white;
    border-radius: .3em;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);

}

.service-element .img-container {
    display: flex;
    padding: 1em;
}

.service-element .img-container img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
    border-radius: .25em;
}

.service-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width: 90%;
    margin: auto;
}

.service-element .title {
    font-family: prompt;
    font-weight: 600;
    font-size: 1.1em;
    color: #535353;
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 1px solid #B9B9B9;
}

.service-element .service-desc {
    font-size: .95em;
    color: #838383;
    padding: 1em;
    text-align: justify;
}

.our-testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    --bg-overlay: rgb(39, 39, 39, .8);
    background: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url("/assets/background_2.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.our-testimonial-container .section-title {
    color: white;
}

.testimonials-container {
    width: 100%;
    position: relative;
    margin-top: 2em;
    overflow: hidden;
}


.testimonial-wrapper {
    display: flex;
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    color: black !important;
}

.testimonials-container .testimonial {
    width: fit-content;
    width: 20em;
    background: white;
    padding: 1em;
    border-radius: .25em;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    color: #494949;
}

.testimonials-container .testimonial .name-row {
    display: flex;
    justify-content: space-between;
}

.testimonials-container .testimonial .name {
    font-weight: bold;
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;

}

.testimonials-container .testimonial .name-row .rating-container {
    display: flex;
    gap: .25em;
}

.testimonials-container .testimonial .name-row .rating {
    display: flex;
}

.testimonials-container .testimonial .name-row .rating img {
    width: 1.2em;
}

.testimonials-container .testimonial .comment-row {
    margin-top: 1em;
    font-size: .9em;
    text-align: justify;
}

/* .swiper-slide-active{
  background-color: blue !important;
} */

.social-container {
    display: flex;
}

.social-container .icon {
    display: flex;
    background: black;
    border-radius: 50%;
    padding: .3em;
}

.social-container .icon img {
    display: flex;
    width: 1.7      em;
}